# Redis config
{% from "redis/map.jinja" import redis_settings with context %}
daemonize yes

pidfile {{ redis_settings.pidfile }}
port {{ redis_settings.port }}

{% if redis_settings.bind is defined %}
bind {{ redis_settings.bind }}
{% endif -%}

{% if redis_settings.unixsocket is defined %}
unixsocket {{ redis_settings.unixsocket }}
unixsocketperm {{ redis_settings.unixsocketperm|default(755) }}
{% endif -%}

tcp-keepalive {{ redis_settings.tcp-keepalive }}

loglevel {{ redis_settings.loglevel }}
{% if redis_settings.syslog is defined %}
syslog-enabled yes
syslog-ident {{ redis_settings.syslog.ident }}
syslog-facility {{ redis_settings.syslog.facility }}
{% if redis_settings.syslog.nologfile is defined %}
logfile ""
{% else %}
logfile {{ redis_settings.logfile }}
{% endif -%}
{% else %}
logfile {{ redis_settings.logfile }}
{% endif -%}


databases {{ redis_settings.databases }}

{% if redis_settings.snapshots is defined %}
{% for s in redis_settings.snapshots %}
save {{ s }}
{% endfor %}
{% else %}
save 900 1
save 300 10
save 60 10000
{% endif -%}

stop-writes-on-bgsave-error {{ redis_settings.stop-writes-on-bgsave-error }}

rdbcompression {{ redis_settings.rdbcompression }}
rdbchecksum {{ redis_settings.rdbchecksum }}

dbfilename {{ redis_settings.dbfilename }}
dir {{ redis_settings.db_dir }}

{% if redis_settings.slaveof is defined %}
slaveof {{ redis_settings.slaveof.masterip }} {{ redis_settings.slaveof.masterport }}
{% endif -%}

{% if redis_settings.masterauth is defined %}
masterauth {{ redis_settings.masterauth }}
{% endif -%}

slave-serve-stale-data {{ redis_settings.slave-serve-state-data }}
slave-read-only {{ redis_settings.slave-read-only }}

{% if redis_settings.repl-ping-slave-period is defined %}
repl-ping-slave-period {{ redis_settings.repl-ping-slave-period }}
{% endif -%}

{% if redis_settings.repl-timeout is defined %}
repl-timeout {{ redis_settings.repl-timeout }}
{% endif -%}

repl-disable-tcp-nodelay {{ redis_settings.repl-disable-tcp-nodelay }}

{% if redis_settings.repl-backlog-size is defined %}
repl-backlog-size {{ redis_settings.repl-backlog-size }}
{% endif -%}

{% if redis_settings.repl-backlog-ttl is defined %}
repl-backlog-ttl {{ redis_settings.repl-backlog-ttl }}
{% endif -%}

slave-priority {{ redis_settings.slave-priority }}

{% if redis_settings.min-slaves-to-write is defined %}
requiremin-slaves-to-write {{ redis_settings.min-slaves-to-write }}
{% endif -%}

{% if redis_settings.min-slaves-max-lag is defined %}
requiremin-slaves-max-lag {{ redis_settings.min-slaves-max-lag }}
{% endif -%}

{% if redis_settings.pass is defined %}
requirepass {{ redis_settings.pass }}
{% endif -%}

{% if redis_settings.rename-command is defined %}
{% for k, v in redis_settings.rename-command %}
rename-command {{ k }} {{ v }}
{% endfor %}
{% endif -%}

{% if redis_settings.maxclients is defined %}
requiremaxclients {{ redis_settings.maxclients }}
{% endif -%}

maxmemory {{ redis_settings.maxmemory|default(8053063680) }}
maxmemory-policy {{ redis_settings.maxmemory-policy|default('volatile-lru') }}
maxmemory-samples {{ redis_settings.maxmemory-samples|default(3) }}

appendonly {{ redis_settings.appendonly }}
appendfilename {{ redis_settings.appendfilename }}
appendfsync {{ redis_settings.appendfsync }}

no-appendfsync-on-rewrite {{ redis_settings.no-appendfsync-on-rewrite }}
auto-aof-rewrite-percentage {{ redis_settings.auto-aof-rewrite-percentage }}

auto-aof-rewrite-min-size {{ redis_settings.auto-aof-rewrite-min-size }}

lua-time-limit {{ redis_settings.lua-time-limit }}

slowlog-log-slower-than {{ redis_settings.slowlog-log-slower-than }}
slowlog-max-len {{ redis_settings.slowlog-max-len }}

notify-keyspace-events {{ redis_settings.notify-keyspace-events }}

############################### ADVANCED CONFIG ###############################

hash-max-ziplist-entries 512
hash-max-ziplist-value 64

list-max-ziplist-entries 512
list-max-ziplist-value 64

set-max-intset-entries 512

zset-max-ziplist-entries 128
zset-max-ziplist-value 64

activerehashing yes

client-output-buffer-limit normal 0 0 0
client-output-buffer-limit slave 256mb 64mb 60
client-output-buffer-limit pubsub 32mb 8mb 60

hz 10

aof-rewrite-incremental-fsync yes
