# -*- coding: utf-8 -*-
# vim: ft=jinja

{% import_yaml 'redis/defaults.yaml' as defaults %}
{% import_yaml 'redis/osfamilymap.yaml' as osfamilymap %}
{% import_yaml 'redis/osfingermap.yaml' as osfingermap %}

{% set redis_settings = salt['grains.filter_by'](
    defaults,
    merge = salt['grains.filter_by'](
        osfamilymap,
        grain='os_family',
        merge = salt['grains.filter_by'](
            osfingermap,
            grain='osfinger',
            merge = salt['pillar.get']('redis', {}),
        ),
    ),
    base='redis')
%}
