{% set redis = salt['grains.filter_by']({
    'Debian': {
        'pkg_name': 'redis-server',
        'svc_name': 'redis-server',
        'cfg_name': '/etc/redis/redis.conf',
        'cfg_version': salt['grains.filter_by']({
	  'wheezy': '2.4',
	  'jessie': '2.8',
	  'default': '2.8'
	}, grain='oscodename'),
	'logfile': '/var/log/redis/redis-server.log',
    },
    'RedHat': {
        'pkg_name': 'redis',
        'svc_name': 'redis',
        'cfg_name': '/etc/redis.conf',
        'cfg_version': '2.4',
        'logfile': '/var/log/redis/redis.log',
    },
}, merge=salt['pillar.get']('redis:lookup')) %}
